server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  security:
    oauth2:
      resourceserver:
        jwt:
          # Somente placeholder — o professor NÃO vai exigir Keycloak rodando
          issuer-uri: http://localhost:8080/auth/realms/seu-realm

  sql:
    init:
      mode: never   # <<< ESSENCIAL — impede execução de scripts (data.sql / schema.sql)

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  endpoint:
    health:
      show-details: always